*{
    padding: 0;
    margin: 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
    /* background-image: url('bg_img.jpg') no-repeat; */
}


body {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-family:Georgia, 'Times New Roman', Times, serif;
	font-size: 12px;
	background-image: url('main.jpg');	
}

.navbar{
    display: flex;
    max-width: 100%;
    padding-top: 20px;
    background-color: powderblue;
    padding-left: 20px;
    align-items: center;
    border-bottom: 2px solid;
}
.navbar h2{
    color: black;
    word-spacing: 1mm;
}

.navbar .links{
    margin-left: 800px;
    padding: 20px;
    color: black;
    text-align: right;
    text-decoration:solid;
    word-spacing: 0.5em;
    font-size: medium;
    align-content: flex-end;
}

.home{
    color: black;
    padding: 20px;
    padding-left: 100px;
    padding-right: 100px;
    margin: 20px;
    text-align: left;
    word-spacing: 0.5em;
    line-height: 10mm;
    font-size: large;
}
.me{
    text-align: center;
    padding-top: 0px;
    padding-left: 40px;
    text-decoration:double;
    color:black;
    width: 100%;
}

.about{
    padding-left: 300px;
    margin: 20px;
    color: black;
}
.school{
    padding-top: 20px;
    padding-left: 300px;
    margin: 20px;
    color: black;
}
.work{
    padding-top: 20px;
    padding-left: 300px;
    margin: 20px;
    color: black;
}
.container{
    /* padding-top: 100px;
    margin-top: 100px; */
    align-content: center;
    text-align: center;
    text-decoration: underline;
    
}
.container h2{
    color:black;
    width: 100%;
}
.submitbutton{
	margin: 0px;
	padding: 0 0 10px 0;
    width:200px;
	cursor: pointer;
	font-size: 12px;
    background-color: gray;
	text-align: center;
	vertical-align: bottom;
    border-radius: 2em;
	white-space: pre;
    
}
.input-icons i {
    position:absolute;
}
  
.input-icons {
    width: 100%;
    margin-bottom: 10px;
}
  
.icon {
    padding: 10px;
    min-width: 40px;
} 
.input-field {
    height: 40px;
	width: 50%;
	padding: 2px 5px;
	margin: 0px 0px 10px 0px;
    color: black;
	font-size: 20px;
    align-content: center;
    border-radius: 3em;
    border-color: black;
    text-decoration: bold;
    text-align: center;
}
.links{
    justify-content: space-between;
    padding-left: 700px;
    margin: 1.5em 0;
}
.contact{
    padding-top: 20px;
    padding-left: 200px;
    margin: 20px;
    color: black;
}
.SocialMedia{
    font-size: 36px;
    cursor: pointer;
    padding-left: 200px;
    padding-top: 20px;
    margin: 10px;
    align-items: center;
}
.fa-facebook:hover,.fa-instagram:hover,.fa-twitter:hover,.fa-linkedin:hover, .fa-twitch:hover {
    color: #008000;
    border-spacing: 200px;
    align-items: center;
    white-space: calc();
}

.schoolimg{
    margin-left: 10px;
    padding-left: 20px;
    right: 10px;
    align-items: center;
}
.skill{
    padding-top: 20px;
    padding-left: 40px;
    margin: 20px;
    color: black;
    word-spacing: 1em;
}
.project{
    padding-top: 20px;
    padding-left: 40px;
    margin: 20px;
    color: black;
}
.certificate{
    padding-top: 20px;
    padding-left: 40px;
    margin: 20px;
    color: black;
}
.achievement{
    margin: 20px;
    padding-top: 20px;
    padding-left: 40px; 
    color:black;
}
.award{
    padding-top: 20px;
    padding-left: 40px;
    margin: 20px;
    color: black;
}
.reference{
    padding-top: 20px;
    padding-left: 40px;
    margin: 20px;
}
a:link, a:hover, a:active,a:visited{
    background-color: transparent;
    cursor:pointer;
    text-decoration:double;
}

a:hover{
    color:rgb(175, 40, 175);
}

/* column pic */
.column1 {
    float:left;
    width: 50%;
    align-items: center;
    height: 80%;
    padding: 20px;
}

/* Style the images of gallery */
.column1 img {
    cursor: zoom-in;
    padding: 5px;
}
 
.column1 img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}
.column2 {
    float:left;
    width: 50%;
    align-items: center;
    height: 100%;
}
