<!DOCTYPE html>
<html>
    <title>About</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">   
    <link rel="stylesheet", href="/static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/31149d48b0.js" crossorigin="anonymous"></script>

</head>
<body>
    <div class="me"><h2>Basic Details</h2></div>
    <div class="about">
        <div><h5>Name: <span class="about1">Tejeshwini Sahu</span></h5></div>
    </br> 
        <div><h5>Parents: <span class="about1">Mr.Mahendra Sahu,Mrs. Shakuntala Sahu</span></h5></div>
    </br> 
        <div><h5>Siblings: <span class="about1">Vijyalaxmi Sahu,Devesh Sahu</span></h5></div>
    </br> 
        <div><h5>Birthday: <span class="about1">18 May 2000</span></h5></div>
    </br> 
        <div><h5>Relationship Status: <span class="about1">Single</span></h5></div>
    </br> 
        <div><h5>Degree: <span class="about1">Bachelors of Technology (B.Tech)</span></h5></div>
    </div>    
    </br>
    </br>  
    
    <div class="me"><h2>Academic Details</h2></div>
    <div class="school">
        <h5><div>Class-10th: Saraswati Shishu Mandir,Gandai</div></h5>
    </br> 
        <h5><div>Class-12th: Prayas Residential School Raipur</div></h5>
    </br> 
        <h5><div>College: NIT Raipur</div></h5>
    </br> 
        <h5><div>Current Organisation: TCS Pune</div></h5>
         </br>
         </br>
         
    </div>
    <div class="me"><h2>Work Experience</h2></div>
    <div class="work">
        <h5>System Engineer(Innovator),TCS Innovation Lab</h5>
        <h5>Tata Consultancy Services(TCS),Pune</h5>
        <h5>July 2021-Present</h5>
    </br>
        <ul>
            <li>Analyzed user needs and created software solutions to address said needs.</li>
        </br> 
            <li>Supported testing of software and released bug fix reports and upgrades.</li>
        </br> 
            <li>Assisted in engineering application software maintenance.</li>
        </br> 
            <li>Worked on Machine Learning and Deep Learning Algorithms.</li>
        </br>
            <li>Working on Web Development by using Flask REST Framework.</li>
        </br>  
        </ul>
    </div>

    
   
</body>

</html>