<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tejeshwini's Webpage</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

    <!-- Navbar -->
    <nav class="navbar">
        <h2>Welcome to Tejeshwini's Personal Website!</h2>
        <ul class="links">
            <li><a href="{{ url_for('skills') }}">Skills & Projects</a></li>
            <li><a href="{{ url_for('achievements') }}">Awards & Achievements</a></li>
            <li><a href="{{ url_for('contact') }}">Contact Details</a></li>
        </ul>
    </nav>

    <!-- Home Section -->
    <section class="home">
        <p>I am a System Engineer at <a href="http://www.tcs.com/" target="_blank">Tata Consultancy Services (TCS), Pune</a>. I am from <a href="https://bemetara.gov.in/en/" target="_blank">Bemetara</a>, Chhattisgarh.</p>

        <p>I completed my 10th standard from <a href="https://schools.thelearningpoint.net/school.html?id=2231120583002&SARASWATI-SHISHU-MANDIR-GANDAI#gsc.tab=0" target="_blank">Saraswati High School, Gandai</a> with 95.5% in 2015. Later, I attended <a href="https://www.facebook.com/PrayasSansthanRaipur" target="_blank">Prayas Residential School, Raipur</a> and completed my 12th standard with 95% in 2017. I graduated from <a href="http://www.nitrr.ac.in/" target="_blank">National Institute of Technology (NIT), Raipur</a> in Electronics & Telecommunications Engineering and received my B.Tech Hon. Degree in 2021.</p>

        <p>My hobbies include Coding, Trekking, Watching thriller movies, Gardening, Traveling, Reading Books, and Teaching.</p>

        <p>I have completed a 14-day vocational training from <a href="https://www.cspdcl.co.in/cseb/(S(btgg5flw2xd0th4wxiafuzi2))/frmHome.aspx" target="_blank">CSPDCL (Chhattisgarh State Power Distribution Company Limited) Raipur</a> and <a href="https://sail-bhilaisteel.com/" target="_blank">Bhilai Steel Plant, Bhilai</a> on “Power Line Carrier Communication” and “Working Overview of BSP” respectively.</p>
    </section>

</body>
</html>
