<!DOCTYPE html>
<html>
<head>
    <title>Skills & Projects</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">   
    <link rel="stylesheet", href="/static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/31149d48b0.js" crossorigin="anonymous"></script>

</head>

<body>
    <div class="me"><h2>Skills</h2></div>
    <div class="skill">
        <ol type="a">
        <li>C</li>
    </br> 
        <li>Cpp</li>
    </br> 
        <li>Python</li>
    </br> 
        <li>HTML/CSS</li>
    </br> 
        <li>Machine Learning</li>
    </br> 
       <li>Flask</li>
    </br>   
        <li>SQL & Relational database</li>
    </br> 
        <li>Deep Learning</li>
    </br> 
        <li>Object Oriented Programming</li>
    </br> 
        <li>Data Structure & Algorithm</li>
    </br> 
        <li>Data WareHouse</li>
    </br> 
    </ol>
    </div>
    <div class="me"><h2>Projects</h2></div>
    <div class="project">
        <ol type="a">
        <li><b>Home Automation Using Relay</b> : Objective Of The Project Is to Implement Automatic System using relay to make our daily life easy.</li>
    </br>
        <li><b>Anomaly Based Intrusion Detection system</b> : Objective of the Project is to implement a strong Intrusion Detection System using XGBoost Classifier to control different types of attack.</li>
    </br>
        <li><b>Multilevel Hybrid Intrusion Detection System</b> : Objective of the Project is to implement a multilevel hybrid intrusion detection system by using different machine learning algorithms and compare their accuracy.</li>   
    </br> 
       <li><b>EHR Based Clinical Research Using Deep Learning</b> : Objective of the Project is to Predict Actual Efficacy of Janssen Vaccine & it's adverse effect.</li>  
</br>    
</ol> 
    </div>
    </body>
<div class="me"><h2>Certification Course :</h2></div>
<div class="certificate">
    <ol type="a">
        <li>Communication English Conducted by Foundation For Excellence(FFE)</li>
    </br> 
        <li>Python from Cognitive Class</li>
    </br> 
        <li>Machine Learning with python from Cognitive Class</li>
    </br> 
        <li>Deep Learning with TensorFlow from Cognitive Class</li>
    </br> 
        <li>SQL & Relational Database from Cognitive Class</a></li>
    </br> 
        <li>Git from UDEMY</a></li>
    </br>
    </ol>
</div>
</body>
</html>    