<!DOCTYPE html>
<html>
<head>
    <title>Skills & Projects</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">   
    <link rel="stylesheet", href="/static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/31149d48b0.js" crossorigin="anonymous"></script>

</head>

<body>
    <div class="me"><h2>Skills :</h2></div>
    <div class="skill">
        <ol type="a">
        <li><a href="https://www.geeksforgeeks.org/c-programming-language/",target="_blank">C</a></li>
    </br> 
        <li><a href="https://www.geeksforgeeks.org/cpp-tutorial/",target="_blank">Cpp</a></li>
    </br> 
        <li><a href="https://www.python.org/",target="_blank">Python</a></li>
    </br> 
        <li><a href="https://www.geeksforgeeks.org/web-technology/html-css/",target="_blank">HTML/CSS</a></li>
    </br> 
        <li><a href="https://www.geeksforgeeks.org/machine-learning/?ref=gcse",target="_blank">Machine Learning</a></li>
    </br> 
        <li><a href="https://www.geeksforgeeks.org/structured-query-language/?ref=gcse",target="_blank">SQL & Relational database</a></li>
    </br> 
        <li><a href="https://www.geeksforgeeks.org/introduction-deep-learning/?ref=gcse",target="_blank">Deep Learning</a></li>
    </br> 
        <li><a href="https://www.geeksforgeeks.org/object-oriented-programming-in-cpp/?ref=gcse",target="_blank">Object Oriented Programming</a></li>
    </br> 
        <li><a href="https://www.geeksforgeeks.org/data-structures/?ref=gcse",target="_blank">Data Structure & Algorithm</a></li>
    </br> 
        <li><a href="https://www.geeksforgeeks.org/data-warehousing/",target="_blank">Data WareHouse</a></li>
    </br> 
    </ol>
    </div>
    <div class="me"><h2>Projects :</h2></div>
    <div class="project">
        <ol type="a">
        <li><a href="https://theiotprojects.com/home-automation-with-esp8266-web-server-relay-module/",target="_blank"><b>Home Automation Using Relay</b></a> : Objective Of The Project Is to Implement Automatic System using relay to make our daily life easy.</li>
    </br>
        <li><a href="https://en.wikipedia.org/wiki/Anomaly-based_intrusion_detection_system",target="_blank"><b>Anomaly Based Intrusion Detection system</b></a> : Objective of the Project is to implement a strong Intrusion Detection System using XGBoost Classifier to control different types of attack.</li>
    </br>
        <li><a href="https://ieeexplore.ieee.org/document/8130637",target="_blank"><b>Multilevel Hybrid Intrusion Detection System</b></a> : Objective of the Project is to implement a multilevel hybrid intrusion detection system by using different machine learning algorithms and compare their accuracy.</li>   
    </br> 
</ol> 
    </div>
    </body>
<div class="me"><h2>Certification Course :</h2></div>
<div class="certificate">
    <ol type="a">
        <li>Communication English Conducted by <a href="https://ffe.org/", target="_blank">Foundation For Excellence(FFE)</a></li>
    </br> 
        <li>Python from <a href="https://cognitiveclass.ai/", target="_blank">Cognitive Class</a></li>
    </br> 
        <li>Machine Learning with python from <a href="https://cognitiveclass.ai/", target="_blank">Cognitive Class</a></li>
    </br> 
        <li>Deep Learning with TensorFlow from <a href="https://cognitiveclass.ai/", target="_blank">Cognitive Class</a></li>
    </br> 
        <li>SQL & Relational Database from <a href="https://cognitiveclass.ai/", target="_blank">Cognitive Class</a></li>
    </br> 
    </ol>
</div>
</body>
</html>    